<launch>

  <!-- laser sick tim551 -->
  <node name="static_transform_publisher_sick_tim551" pkg="tf2_ros" type="static_transform_publisher" args="0.201 0 0.27 0 0 0 1 base_link laser_sick_tim551" />

<!-- 
  <node name="static_transform_publisher_camera1_link" pkg="tf2_ros" type="static_transform_publisher" args="0.19 0 0.595 0 0 -1.57  base_link camera1_link" />

  <node name="static_transform_publisher_depthscan" pkg="tf2_ros" type="static_transform_publisher" args="0.14 0 0.2 0 0 0     base_link depth_laserscan" />
-->

</launch>


